<style>
        /* CSS to set background image */
      
    </style>



@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Retiza Coop </h1>
     
    <p>Click the link to Start Utang 🤣🤣<a href="https://www.gcash.com/"> Pangutang namo para madato ko!</a>.</p>

</div>

